$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$search-color: #e5e5e5;
$background-color: #f2f2f2;
$box-shadow-btn: rgb(212, 212, 212, 0.25);
$font-texte: "Roboto";
$font-titre: "Shrikhand";
$boxshadow:rgb(0 0 0 / 24%) 0rem 0.25rem 0.5rem;
$degrade: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);


